*{
margin: 0;
padding: 0;

}


.cabeçalho{
    display: flex;
    background-color: brown;
    color:aqua;
    justify-content: space-around;
    align-items: center;


}


.cabeçalho-lista_item{
    display: inline-block;
}

.cabeçalho-lista{
     margin: 50px;
     font-size: 30px;
}








