*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    display:flex;
    background:yellow;
    color: aliceblue;
    justify-content: space-around;

}
.escola-imagem{
    width: 25%;
}
.escola{
    background-image: linear-gradient(RED,BLACK);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
    
}

.mercado-imagem
    background-image: <img source image 1.png>